<div class="wrapper">
  <div class="row nav">
    <img class="logo" src="../../assets/DlightLogo.png" />
    <div class="text-wrapper">
      <span>Lightning Dev Agile</span>
      <span class="animated-words">
        <span>Sec</span>
        <span>Perf</span>
        <span>Heal</span>
        <span>Bill</span>
        <span>Ops</span>
      </span>
    </div>
    <div class="fluid-spacer"></div>
    <mat-icon>help_outline</mat-icon>
    <mat-icon>settings</mat-icon>
  </div>
  <div class="content">
    <mat-grid-list cols="2" rowHeight="2:1" gutterSize="30px">
      <mat-grid-tile>
        <div style="padding: 20px">
          <div class="row">
            <img class="icon" src="../../assets/DlightLogo.png" />
            <div>
              If you are new to DevOps as a Service click on "Start DevOps as a Service".
              <button [routerLink]="['login','1']" mat-raised-button color="primary">Start DevOps as a Service</button>
            </div>
          </div>
          <div class="row">
            <img class="icon" src="../../assets/pie-chart.png" />
            <div>
              If you have a running DevOps pipeline already, login to view dashbaord
              <button [routerLink]="['login','2']" mat-raised-button color="primary">View Dashboard</button>
            </div>
          </div>
        </div>
      </mat-grid-tile>
      <mat-grid-tile>
        <div class="carousel">
          <ul class="slides">
            <li *ngFor="let item of items">
              <img src="{{item.name}}">
            </li>
          </ul>
        </div>
      </mat-grid-tile>
      <mat-grid-tile>
        <div>
          <h3 style="padding-left: 10px;">DevLite's key features</h3>
          <ul>
            <li>Wipro’s DevOps as a Service offering DevLite creates a business and pipeline first strategy</li>
            <li>Enables a plug and play platform</li>
            <li>Delivers a metrics driven value proposition for rapid Continuous Integration and Delivery</li>
            <li><b>DevLite</b> takes the consult , design , deploy , measure and optimize approach involving an
              assessment
              of
              people , process and technology metrics</li>
            <li>This approach is outlined in the adjacent workflow diagram</li>
          </ul>
        </div>
      </mat-grid-tile>
      <mat-grid-tile>
        <div class="actions">
          <img src="../../assets/flow-static-1.png" />
        </div>
      </mat-grid-tile>
    </mat-grid-list>
  </div>
</div>